<%- include header %>

<div class="text-center page-title">新用户注册</div>
<p id="mess" style="display: none;"><%= msg %></p>
<div class="container">
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <form method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" name="username" id="username" placeholder="用户名">
                    <br /><span id="errName" style="display: none;color: red; ">用户名:只能是字母、数字、下划线的组合，长度3-20个字符</span>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" id="password" placeholder="密码">
                    <br /><span id="errPass" style="display: none;color: red; ">密码:长度不能少于6，必须同时包含数字、小写字母、大写字母</span>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="passwordRepeat" id="repassword" placeholder="确认密码">
                    <br /><span id="errRepa" style="display: none;color: red; ">两次输入密码不同！</span>
                </div>
            </form>
            <button id="register" class="btn btn-default center-block">注册</button>
        </div>
    </div>
</div>
<%- include footer %>
<script>
    $(function () {
        if(($('#mess').text()) == '1'){
            alert('用户名已存在')
        }

        $("#register").click(function () {
            var reUser = /^[0-9a-zA-Z_]{3,20}$/;
            var re1 = /\d/;
            var re2 = /[a-z]/;
            var re3 = /[A-Z]/;
            var name = $('#username').val();
            var password = $('#password').val();
            var repassword = $('#repassword').val();
            if(!reUser.test(name)){
                $('#errName').show();
            }else if(!re1.test(password)){
                $('#errName').hide();
                $('#errPass').show();
            }else if(!re2.test(password)){
                $('#errPass').show();
            }else if(!re3.test(password)){
                $('#errPass').show();
            }else if(password.length<6){
                $('#errPass').show();
            }else if(password!=repassword){
                $('#errPass').hide();
                $('#errRepa').show();
            }else{
                $('#errRepa').hide();
                $("form").submit();
            }
        });
    });
</script>
</html>